/* You can add global styles to this file, and also import other style files */
* {
  position: relative;
  font-family: Calibri, sans-serif;
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
}
