/* You can add global styles to this file, and also import other style files */
* {
  position: relative;
  font-family: Raleway, sans-serif;
}

body {
  background-color: #dff1ff;
  margin: 0px;
  padding: 0px;
}
