.navbar {
  width: 95%;
  height: 7.5vh;
  padding: 0% 2.5% 0% 2.5%;
  background-color: #1f385f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#personalLogo {
  height: 75%;
  width: auto;
  background-color: inherit;
}

@media only screen and (max-width: 800px) {
  #navlink {
    display: none;
  }
}

.navlink {
  width: 37.5%;
  padding: 0%;
  margin: 1.25%;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navlink a {
  background-color: inherit;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.logoLink {
  height: 3.5vh;
}
