<div class="navbar">
  <img id="personalLogo" src="../assets/bwsyWebIcon.png" alt="personalLogo" />
  <div class="navlink" id="navlink">
    <a routerLink="">Home</a>
    <a routerLink="">CV</a>
    <a routerLink="">Courses</a>
    <a routerLink="">Projects</a>
    <a href="https://github.com/brianwsyang" target="_blank"
      ><img class="logoLink" src="../assets/githubLogo.png" alt="githubLogo"
    /></a>
    <a href="https://www.linkedin.com/in/brianwsyang/" target="_blank"
      ><img class="logoLink" src="../assets/linkedinLogo.png" alt="linkedinLogo"
    /></a>
  </div>
</div>

<router-outlet></router-outlet>
